{% extends 'base.html.twig' %}

{% block title %}Livre {{ book.name }}{% endblock %}

{% block body %}

    <h1>Livre {{ book.name }}</h1>

    Average Price : {% book.averagePrice ? book.averagePrice : NC %}  <br>
    Description : {{ book.description ? book.description : NC }}
    <br>
    <a href="{{ path('book_index') }}">Retour aux livres</a>

{% endblock %}
